{% extends 'baseHF.html.twig' %}

{% block title %}Hello CvController!{% endblock %}

{% block body %}
<div>
    <br>
    <h1>CV</h1>
    <br>
    <div>
        <h2>Expériences</h2>
        <br>
        {% include '/experiences/index.html.twig' with {experience: 'experience'}  %}
    </div>
    
    <br>
    <div>
        <h2>Etudes</h2>
        <br>
        {% include '/training/index.html.twig' with {training: 'training'}  %}
    </div>
    
    <br>
    <div>
        <h2>Autres</h2>
        <br>
        {% include '/other/index.html.twig' with {other: 'other'}  %}
    </div>
    <br>
    <br>
</div>
{% endblock %}
