<!DOCTYPE html>

<style>
* {
  font-family: Verdana, sans-serif;
  text-align: center;

  margin-top:0;
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
}
</style>

<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>

</html>
