{% extends 'baseHF.html.twig' %}

{% block title %}Hello CguController!{% endblock %}

{% block body %}
<div style="align-items:center;text-align: justify; margin: 0 auto;width:50%;">
<br>
    <h1>Conditions Générales d'Utilisation (CGU)</h1>

<br><br>
1. Acceptation des conditions<br>
En accédant et en utilisant ce site portfolio, vous acceptez d'être lié par les présentes Conditions Générales d'Utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser ce site.
<br><br>
2. Utilisation du site<br>
Ce site portfolio est destiné à présenter les travaux et réalisations de l'auteur. Vous pouvez naviguer librement sur le site, consulter les projets et les informations fournies. Toute utilisation abusive, frauduleuse ou illégale du site est strictement interdite.
<br><br>
3. Propriété intellectuelle<br>
Tous les contenus présents sur ce site (textes, images, vidéos, etc.) sont protégés par le droit d'auteur et sont la propriété exclusive de l'auteur du site. Toute reproduction, distribution, modification ou utilisation des contenus sans autorisation préalable est strictement interdite.
<br><br>
4. Liens externes<br>
Ce site peut contenir des liens vers des sites externes. Ces liens sont fournis à titre informatif et l'auteur du site n'assume aucune responsabilité quant au contenu ou à la politique de confidentialité de ces sites tiers.
<br><br>
5. Protection des données personnelles<br>
L'auteur du site s'engage à respecter la vie privée des utilisateurs. Les données personnelles collectées sur ce site sont utilisées uniquement dans le but de fournir les services demandés par l'utilisateur. Pour plus d'informations sur la collecte et l'utilisation des données personnelles, veuillez consulter notre Politique de Confidentialité.
<br><br>
6. Limitation de responsabilité<br>
L'auteur du site ne peut être tenu responsable des dommages directs ou indirects résultant de l'utilisation ou de l'impossibilité d'utiliser ce site, y compris les pertes de données ou les interruptions de service.
<br><br>
7. Modifications des conditions<br>
L'auteur du site se réserve le droit de modifier à tout moment les présentes Conditions Générales d'Utilisation. Les utilisateurs seront informés des modifications par le biais d'une notification sur le site. Il est de la responsabilité de l'utilisateur de consulter régulièrement les CGU pour prendre connaissance des éventuelles mises à jour.
<br><br>
8. Loi applicable et juridiction compétente<br>
Les présentes Conditions Générales d'Utilisation sont régies par le droit français. En cas de litige, les tribunaux français seront seuls compétents.
<br><br>
En utilisant ce site portfolio, vous reconnaissez avoir lu, compris et accepté les présentes Conditions Générales d'Utilisation.
<br>
<br>
</div>
{% endblock %}
